{% set grid_size = theme_var('grid-size') %}

<section class="section modular-text {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            <div class="column col-4 col-md-12">
                {{ content|raw }}
            </div>
            <div class="column col-8 col-md-12">
                {{ page.media['video.mp4'] }}
            </div>
        </div>
    </section>
</section>
